PROMPT_GUARD_MODEL_PATH=/app/model/model.quant.onnx
PROMPT_GUARD_TOKENIZER_PATH=/app/model
PROMPT_GUARD_LAZY_LOAD_MODEL=true
PROMPT_GUARD_HOST=0.0.0.0
PROMPT_GUARD_PORT=8000
PROMPT_GUARD_LOG_LEVEL=info
